.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
foxo.Rproj
foxo.Rproj
*.CEL
data/GSE14879/GSE14879_RAW.tar
*.tar
output/tcl_eset.rds
output/combined_exprs.rds
*.pdf
es_10k/ProjByComp/1.htm
es_10k/ProjByComp/2.htm
es_10k/ProjByComp/3.htm
es_10k/ProjByComp/4.htm
es_10k/ProjByComp/5.htm
es_10k/ProjByComp/genes2comp_threshold3_3_3_3_3.htm
es_10k/varAnalysisOnA_noAdjust/quant/plots/1.htm
es_10k/varAnalysisOnA_noAdjust/quant/plots/1_pred_foxo3.png
es_10k/varAnalysisOnA_noAdjust/quant/plots/2.htm
es_10k/varAnalysisOnA_noAdjust/quant/plots/2_delpuech.png
es_10k/varAnalysisOnA_noAdjust/quant/plots/2_pred_foxo3.png
es_10k/varAnalysisOnA_noAdjust/quant/plots/3.htm
es_10k/varAnalysisOnA_noAdjust/quant/plots/3_bakker.png
es_10k/varAnalysisOnA_noAdjust/quant/plots/3_delpuech.png
es_10k/varAnalysisOnA_noAdjust/quant/plots/3_foxo_active.png
es_10k/varAnalysisOnA_noAdjust/quant/plots/3_pred_foxo3.png
es_10k/varAnalysisOnA_noAdjust/quant/plots/4.htm
es_10k/varAnalysisOnA_noAdjust/quant/plots/4_bakker.png
es_10k/varAnalysisOnA_noAdjust/quant/plots/4_foxo1_foxo3_upreg.png
es_10k/varAnalysisOnA_noAdjust/quant/plots/5.htm
es_10k/varAnalysisOnA_noAdjust/quant/plots/5_pred_foxo3.png
es_10k/varAnalysisOnA_noAdjust/quant/plots/bakker.htm
es_10k/varAnalysisOnA_noAdjust/quant/plots/delpuech.htm
es_10k/varAnalysisOnA_noAdjust/quant/plots/foxo1_foxo3_upreg.htm
es_10k/varAnalysisOnA_noAdjust/quant/plots/foxo_active.htm
es_10k/varAnalysisOnA_noAdjust/quant/plots/pred_foxo3.htm
es_10k/varAnalysisOnA_noAdjust/quant/quantVar.htm
output/annotLookup.rds
output/differential_gene_expression_ptcl_vs_control.xlsx
output/mart.rds
output/paper_figures/fig1b.png
output/paper_figures/fig1c.png
output/tcl_es.rds
output/tcl_eset_foxo3_active.rds
output/toptable_foxoactivevsnon.csv
output/toptable_ptcl.vs.control.csv
